body {
    margin: 0px;
    padding: 0px;
    background-image: url("../Images/fond-lanterne.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
    font-family: 'Macondo', cursive, sans-serif;
    color: rgb(255, 253, 230);
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 1rem;
    gap: 1rem;
}

/* container left */

h1 {
    text-align: center;
    font-size: 2rem;
}
.picture {
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(114, 114, 114);
    align-items: center;
}

.picture img {
    width: 100%;
    min-width: 150px;
    max-width: 250px;
    border: 3px solid rgb(114, 114, 114);
}

h3 {
    text-decoration: underline;
    font-size: 2rem;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.picture ul {
    margin: 0px;
    padding: 0px;
}

.picture li {
    list-style-type: none;
    padding: 2px;
}

/* container right */

.container-right {
    font-size: 1rem;
    padding: 10px;
    justify-content: center;
    border: 3px solid rgb(114, 114, 114);
}

h2 {
    text-align: center;
    font-size: 2rem;
}




@media screen and (max-width: 415px) {
    .container {
        grid-template-columns: 1fr;
    }
}
