body {
    margin: 0px;
    padding: 0px;
    background-image: url("../Images/fond-lanterne.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(8px);
    font-family: 'Macondo', cursive, sans-serif;
    color: rgb(255, 253, 230);
    font-size: 1.2rem;
    cursor: url('https://img.icons8.com/external-febrian-hidayat-outline-color-febrian-hidayat/30/external-Sword-fantasy-and-rpg-febrian-hidayat-outline-color-febrian-hidayat.png') 5 5, auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 1rem;
    gap: 1rem;
}

/* container left */

h1 {
    text-align: center;
    font-size: 2rem;
}
.picture {
    display: flex;
    flex-direction: column;
    border: 10px ridge rgb(114, 114, 114);
    align-items: center;
}

.photo {
    width: 100%;
    min-width: 150px;
    max-width: 250px;
    border: 10px ridge rgb(114, 114, 114);
}

h3 {
    text-decoration: underline;
    font-size: 2rem;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.picture ul {
    padding: 0px;
}

.picture li {
    list-style-type: none;
    padding: 10x;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}


/* container right */

.container-right {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 10px ridge rgb(114, 114, 114);
    gap: 0.5rem;
}

h2 {
    text-align: center;
    font-size: 3rem;
}

.presentation {
    border: 10px ridge rgb(114, 114, 114);
    padding: 10px;
}

.enseignements {
    border: 10px ridge rgb(114, 114, 114);
    padding: 10px;
}

.GridInner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.experiences {
    border: 10px ridge rgb(114, 114, 114);
    padding: 10px;
}

.competances {
    border: 10px ridge rgb(114, 114, 114);
    padding: 10px;
    text-align: center;
}


@media screen and (max-width: 415px) {
    .container {
        grid-template-columns: 1fr;
    }
}
