$primary-color : #ffffff;
$secondary-color : #b80909;
$size: 28px;
$boder: 5px solid black;

body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(104, 104, 104);
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 1rem;
    gap: 1rem;
}

// photo de profil //

h1 {
    color: $primary-color;
    font-size: $size;
    
}
.picture {
    display: flex;
    flex-direction: column;
}

.picture img {
    width: 100%;
    max-width: 200px;
    border: $boder;
}

// text top centre presentation //

.text {
    color: $primary-color;
    font-size: 16px;
    border: $boder;
    padding: 5px;
    justify-content: center;
    max-height: 200px;
}

.text h2 {
    text-align: center;
    color: $primary-color;
    font-size: $size;
}